#root {
  font-family: sans-serif;
  margin: 0.5rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 800px;
}

.TextCodec div.output,
textarea {
  min-height: 8rem;
  font-size: 0.85rem;
}

.repeat-button {
  font-size: 2rem;
  line-height: 1rem;
  vertical-align: middle;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 0.25rem 0.25rem;
  float: right;
}

.repeat-button:not(:focus, :hover) {
  background: none;
  border-color: transparent;
}

.repeat-button:before {
  content: attr(data-repeat);
  font-size: 0.8rem;
  line-height: 1rem;
  padding-right: 0.5ch;
  vertical-align: middle;
  text-decoration: underline;
}

.preset-button {
  vertical-align: middle;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 0.25rem 0.25rem;
  margin: 0 0.05rem;
  background-color: transparent;
}

.preset-button:not(:focus, :hover) {
  background: none;
  border-color: transparent;
  text-decoration: underline;
}

.blurb {
  border: solid 1px transparent;
  padding: 0.5rem;
}

.blurb h2 {
  margin: 0;
}
.blurb p {
  margin: 0.75em 0 0;
}

.blurb.highlight {
  color: light-dark(#555, #bbb);
  border: solid 1px light-dark(#eee, #444);
  background: light-dark(#f9f9f9, rgba(40, 40, 40, 0.25));
}

.blurb.secondary {
  font-size: 0.85rem;
}
.blurb.tertiary {
  font-size: 0.75rem;
}
